<meta name="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="keywords" content="关键字">
<meta name="description" content="描述">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0"  name="viewport" />
<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
<!--[if lt IE 10]>
    <script type="text/javascript">
        var str = "您的浏览器版本过低,已经和时代脱轨了 :(";
        var str2 = "推荐使用:<a href='http://dcbrowser.yhtwww.cn/' target='_blank' style='color:blue;'>谷歌</a>,"
                + "<a href='http://www.firefox.com.cn/' target='_blank' style='color:blue;'>火狐</a>,"
                + "其他双核极速模式";
        document.writeln("<pre style='text-align:center;color:#fff;background-color:#57aeef; height:100%;border:0;position:fixed;top:0;left:0;width:100%;z-index:10000;margin:0'>" +
                "<h2 style='padding-top:200px;margin:0'><strong>" + str + "<br/></strong></h2><h2>" +
                str2 + "</h2><h2 style='margin:0'><strong>如果你的使用的是双核浏览器,请切换到极速模式访问<br/></strong></h2></pre>");
        document.execCommand("Stop");
    </script>
<![endif]-->